<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Kaoula</title>

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
        <!-- Fontawesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- Custom -->
        <link rel="stylesheet" href="../../style.css" />
    </head>
    <body>
        <%- include("../components/spinner.ejs") %>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="../../kaoula.png"
                        alt="Kaoula Logo"
                        class="rounded-circle"
                        width="45"
                        height="45"
                    />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="d-flex" role="login">
                        <% if (user) { %>

                        <div class="dropdown">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                dropdown-toggle
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="<%= user.avatar %>"
                                    alt="<%= user.name %>"
                                    class="rounded-circle"
                                    width="25"
                                    height="25"
                                />

                                <%= user.username %>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fa-solid fa-user-circle"></i>
                                    Mine oplysninger
                                </a>
                                <a class="dropdown-item" href="/classes">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                    Min klasse
                                </a>
                                <a class="dropdown-item" href="/messages">
                                    <i class="fa-solid fa-messages"></i>
                                    Beskeder
                                </a>

                                <% if (user.role == 5) { %>
                                <a class="dropdown-item" href="/classes/new">
                                    <i class="fa-solid fa-user-plus"></i>
                                    Lav en ny klasse
                                </a>
                                <% } %>
                            </div>
                        </div>

                        <a
                            class="btn btn-danger my-2 my-sm-0"
                            style="margin-left: 5px"
                            href="/auth/logout"
                        >
                            <i class="fa-solid fa-lock-open"></i> Log af
                        </a>

                        <% } else { %>
                        <a
                            class="btn btn-brand my-2 my-sm-0"
                            href="/auth/github"
                        >
                            <i class="fa-solid fa-lock"></i> Log på
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="list-group" style="cursor: pointer">
                        <a
                            href="/classes/<%= classData.id %>/settings?action=EDIT"
                            class="list-group-item list-group-item-action"
                        >
                            ✏ Rediger
                        </a>
                        <a
                            href="/classes/<%= classData.id %>/settings?action=MANAGE_STUDENTS"
                            class="list-group-item list-group-item-action"
                        >
                            👥 Håndter studerende
                        </a>
                        <a
                            href="/classes/<%= classData.id %>/settings?action=HOMEWORK"
                            class="list-group-item list-group-item-action"
                        >
                            📝 Opret lektier
                        </a>
                        <a
                            href="/classes/<%= classData.id %>/settings?action=BANNED_USERS"
                            class="list-group-item list-group-item-action"
                        >
                            🔨 Udelukkelser
                        </a>
                        <a
                            href="/classes/<%= classData.id %>/settings?action=NEW_STUDENT"
                            class="list-group-item list-group-item-action"
                        >
                            ➕Tilføj en ny elev
                        </a>
                        <a
                            href="/classes/<%= classData.id %>"
                            class="list-group-item list-group-item-action"
                        >
                            ⬅ Tilbage
                        </a>
                        <a
                            href="/classes/<%= classData.id %>/settings?action=DELETE_CLASS"
                            class="list-group-item list-group-item-action bg-danger text-light"
                        >
                            🗑 Slet klasse
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-dark">
                                <i class="fa-solid fa-chalkboard-user"></i> Min
                                klasse
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <% if (actions.edit) { %>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark">
                                                <i
                                                    class="fa-solid fa-pencil"
                                                ></i>
                                                Rediger klasse
                                            </h5>

                                            <form
                                                action="/classes/new/update"
                                                method="POST"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="action"
                                                    value="EDIT"
                                                />
                                                <input
                                                    type="hidden"
                                                    name="classId"
                                                    value="<%= classData.id %>"
                                                />

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="className"
                                                        class="text-muted"
                                                    >
                                                        Klasse navn
                                                    </label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="className"
                                                        name="name"
                                                        value="<%= classData.name %>"
                                                    />
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="classDescription"
                                                        class="text-muted"
                                                    >
                                                        Klasse beskrivelse
                                                    </label>
                                                    <textarea
                                                        class="form-control"
                                                        id="classDescription"
                                                        name="description"
                                                        rows="3"
                                                    >
<%= classData.description %></textarea
                                                    >
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="image"
                                                        class="text-muted"
                                                    >
                                                        Klasse billede
                                                    </label>

                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        id="formFile"
                                                    />
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="maxStudents"
                                                        class="text-muted"
                                                        >Maks antal elever
                                                    </label>

                                                    <input
                                                        type="number"
                                                        class="form-control"
                                                        id="maxStudents"
                                                        name="maxStudents"
                                                        value="<%= classData.maxStudents %>"
                                                    />
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="private"
                                                        class="text-dark"
                                                        >Privat klasse?
                                                        <span class="text-muted"
                                                            >(Ingen kan joine
                                                            via klasse
                                                            invitation)</span
                                                        ></label
                                                    >

                                                    <% if (classData.private ===
                                                    "on") { %>

                                                    <input
                                                        type="checkbox"
                                                        name="private"
                                                        id="private"
                                                        checked="checked"
                                                    />

                                                    <% } else { %>
                                                    <input
                                                        type="checkbox"
                                                        name="private"
                                                        id="private"
                                                    />
                                                    <% } %>
                                                </div>

                                                <button
                                                    type="submit"
                                                    class="btn btn-mid"
                                                >
                                                    <i
                                                        class="fa-solid fa-pencil"
                                                    ></i>
                                                    Updater klasse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %> <% if (actions.manage_students) { %>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark">
                                                <i
                                                    class="fa-solid fa-user-friends"
                                                ></i>
                                                <% if (classData.students.length
                                                > 0) { %>
                                                <span
                                                    class="badge badge-pill"
                                                    style="
                                                        background-color: var(
                                                            --brand-color
                                                        );
                                                    "
                                                    ><%=
                                                    classData.students.length
                                                    %></span
                                                >
                                                <% } %> Håndter studerende
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <% if
                                                    (classData.students.length >
                                                    0) { %>
                                                    <table
                                                        class="table table-striped"
                                                    >
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Brugernavn
                                                                </th>
                                                                <th>ID</th>
                                                                <th>Email</th>
                                                                <th>
                                                                    <i
                                                                        class="fa-solid fa-cogs"
                                                                    ></i>
                                                                </th>
                                                                <th>Udeluk</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (let student
                                                            of students) { %>
                                                            <tr>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <img
                                                                        src="<%=
                                                                    student.avatar %>"
                                                                        alt="<%=
                                                                    student.name %>"
                                                                        class="img-fluid rounded-circle"
                                                                        style="
                                                                            width: 27px;
                                                                            height: 27px;
                                                                        "
                                                                    />
                                                                    <%=
                                                                    student.username
                                                                    %> <% if
                                                                    (student.uid
                                                                    ==
                                                                    teacher.uid)
                                                                    { %>
                                                                    <span
                                                                        class="badge badge-pill"
                                                                        style="
                                                                            background-color: var(
                                                                                --brand-color
                                                                            );
                                                                        "
                                                                    >
                                                                        Lærer
                                                                    </span>
                                                                    <% } %>
                                                                </td>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <a
                                                                        href="/profile/<%=
                                                                    student.uid
                                                                    %>"
                                                                        target="_blank"
                                                                        style="
                                                                            text-decoration: none;
                                                                        "
                                                                        ><%=
                                                                        student.uid
                                                                        %></a
                                                                    >
                                                                </td>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <% if
                                                                    (student.email)
                                                                    { %> <%=
                                                                    student.email
                                                                    %> <% } else
                                                                    { %> Ingen
                                                                    data <% } %>
                                                                </td>

                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <form
                                                                        action="/classes/<%= classData.id %>/removeMember"
                                                                        method="POST"
                                                                    >
                                                                        <input
                                                                            type="hidden"
                                                                            name="uid"
                                                                            value="<%= student.id %>"
                                                                        />

                                                                        <% if
                                                                        (student.uid
                                                                        ==
                                                                        user.uid)
                                                                        { %>
                                                                        <button
                                                                            class="btn btn-danger btn-sm"
                                                                            disabled
                                                                        >
                                                                            <i
                                                                                class="fa-solid fa-trash"
                                                                            ></i>
                                                                            Smid
                                                                            Ud
                                                                        </button>

                                                                        <% }
                                                                        else {
                                                                        %>
                                                                        <button
                                                                            class="btn btn-danger btn-sm"
                                                                        >
                                                                            <i
                                                                                class="fa-solid fa-trash"
                                                                            ></i>
                                                                            Smid
                                                                            Ud
                                                                        </button>
                                                                        <% } %>
                                                                    </form>
                                                                </td>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <form
                                                                        action="/classes/<%= classData.id %>/banUser"
                                                                        method="POST"
                                                                    >
                                                                        <input
                                                                            type="hidden"
                                                                            name="uid"
                                                                            value="<%= student.id %>"
                                                                        />
                                                                        <% if
                                                                        (student.uid
                                                                        ==
                                                                        user.uid)
                                                                        { %>
                                                                        <button
                                                                            type="submit"
                                                                            class="btn btn-danger btn-sm"
                                                                            disabled
                                                                        >
                                                                            <i
                                                                                class="fa-solid fa-hammer"
                                                                            ></i>
                                                                        </button>
                                                                        <% }
                                                                        else {
                                                                        %>
                                                                        <button
                                                                            type="submit"
                                                                            class="btn btn-danger btn-sm"
                                                                        >
                                                                            <i
                                                                                class="fa-solid fa-hammer"
                                                                            ></i>
                                                                        </button>
                                                                        <% } %>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                    <% } else { %>
                                                    <p class="text-muted">
                                                        Ingen studerende
                                                        tilknyttet denne klasse
                                                    </p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %> <% if (actions.new_student) { %>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <form
                                                action="/classes/new/update/invite"
                                                method="POST"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="class_id"
                                                    value="<%= classData.id %>"
                                                />

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="students"
                                                        class="text-muted"
                                                        >Skriv elevens ID</label
                                                    >

                                                    <input
                                                        type="number"
                                                        name="uid"
                                                        class="form-control"
                                                        id="students"
                                                        placeholder="ID"
                                                        required
                                                    />
                                                </div>

                                                <button
                                                    type="submit"
                                                    class="btn btn-mid"
                                                >
                                                    <i
                                                        class="fa-solid fa-user-plus"
                                                    ></i>
                                                    Tilføj elev
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                    <hr class="text-muted" />

                                    <div class="card">
                                        <div class="card-body">
                                            <% if (classData.private === "off")
                                            { %>
                                            <div>
                                                <input
                                                    type="hidden"
                                                    name="class_id"
                                                    value="<%= classData.id %>"
                                                />

                                                <h2 class="fs-5 text-dark">
                                                    Invitation's link
                                                </h2>

                                                <div class="form-group mb-3">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        value="<%= host
                                                    %>/invite/<%=
                                                    classData.invite %>"
                                                        disabled
                                                        id="invite-value"
                                                    />
                                                </div>

                                                <form
                                                    action="/classes/new/update/invite/new"
                                                    method="post"
                                                >
                                                    <input
                                                        type="hidden"
                                                        name="classId"
                                                        value="<%= classData.id %>"
                                                        required
                                                    />

                                                    <button
                                                        type="reset"
                                                        class="btn btn-brand"
                                                        id="invite-btn"
                                                    >
                                                        <i
                                                            class="fa-solid fa-copy"
                                                        ></i>
                                                        Kopier link
                                                    </button>
                                                    <button
                                                        class="btn btn-mid"
                                                        id="invite-btn-new"
                                                        type="submit"
                                                    >
                                                        <i
                                                            class="fa-solid fa-arrow-rotate-right"
                                                        ></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <% } else { %>
                                            <h2 class="fs-5 text-dark">
                                                Invitation's link
                                            </h2>

                                            <p class="text-muted text-left">
                                                <i
                                                    class="fa-solid fa-triangle-exclamation"
                                                ></i>

                                                Det ser ud til din klasse er
                                                privat. Gør den offenlig, så kan
                                                du brige invitation linket.
                                            </p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <% } %> <% if (actions.delete_class) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <form
                                                action="/classes/<%= classData.id %>/delete"
                                                method="POST"
                                            >
                                                <div class="form-group">
                                                    <label
                                                        for="students"
                                                        class="text-dark"
                                                        >Bekræft sletning af
                                                        klasse</label
                                                    >

                                                    <p class="text-muted mb-2">
                                                        Skriv "<%=
                                                        classData.name %>" i
                                                        feltet nedenunder
                                                    </p>

                                                    <input
                                                        type="text"
                                                        id="delete-class-confirm"
                                                        name="confirm"
                                                        class="form-control mb-3"
                                                        onkeyup="
                                                            if (
                                                                this.value ==
                                                                '<%= classData.name %>'
                                                            ) {
                                                                document.getElementById(
                                                                    'delete-class-submit'
                                                                ).disabled = false;
                                                            } else {
                                                                document.getElementById(
                                                                    'delete-class-submit'
                                                                ).disabled = true;
                                                            }"
                                                        placeholder="Skriv klassens navn for at slette den"
                                                    />

                                                    <p class="text-muted">
                                                        <%=
                                                        classData.students.length
                                                        %> studerende tilknyttet
                                                        denne klasse
                                                    </p>
                                                </div>

                                                <button
                                                    type="submit"
                                                    class="btn btn-danger btn-sm"
                                                    id="delete-class-submit"
                                                    disabled
                                                >
                                                    <i
                                                        class="fa-solid fa-trash"
                                                    ></i>
                                                    Slet klasse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %> <% if (actions.no_action_selcted) {
                                    %>
                                    <div>
                                        <p class="text-muted">
                                            Du har ikke valgt nogen handling
                                        </p>
                                    </div>
                                    <% } %> <% if (actions.homework) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <form
                                                action="/classes/new/homework"
                                                method="POST"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="classId"
                                                    value="<%= classData.id %>"
                                                />

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="title"
                                                        class="text-muted mb-1"
                                                        >Title
                                                    </label>

                                                    <input
                                                        type="text"
                                                        name="title"
                                                        class="form-control"
                                                        placeholder="Title på din lektien."
                                                        required
                                                        oninvalid="this.setCustomValidity('Din lektie skal have en title.')"
                                                    />
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="description"
                                                        class="text-muted mb-1"
                                                        >Hvad er lektien?
                                                    </label>
                                                    <textarea
                                                        class="form-control"
                                                        id="description"
                                                        name="description"
                                                        rows="3"
                                                        placeholder="Skriv lektien her..."
                                                        required
                                                        oninvalid="this.setCustomValidity('Du skal skrive hvad lektien handler om.')"
                                                    ></textarea>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="subject"
                                                        class="text-muted mb-1"
                                                        >Fag:
                                                    </label>

                                                    <select
                                                        class="form-control"
                                                        name="subject"
                                                        required
                                                    >
                                                        <option value="">
                                                            Vælg et fag
                                                        </option>
                                                        <% fag.forEach(fag => {
                                                        %>
                                                        <option
                                                            value="<%- fag %>"
                                                        >
                                                            <%- fag %>
                                                        </option>
                                                        <% }) %>
                                                    </select>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label
                                                        for="dueDate"
                                                        class="text-muted mb-1"
                                                        >Hvornår er lektien til
                                                        for?
                                                    </label>

                                                    <input
                                                        type="date"
                                                        name="dueDate"
                                                        class="form-control"
                                                        id="homework"
                                                        placeholder="Skriv din opgave"
                                                        required
                                                        oninvalid="this.setCustomValidity('Du skal angive et tidpunkt hvor lektien er til.')"
                                                    />
                                                </div>

                                                <button
                                                    type="submit"
                                                    class="btn btn-mid"
                                                >
                                                    <i
                                                        class="fa-solid fa-pencil-alt"
                                                    ></i>
                                                    Opret
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %> <% if (actions.bans) { %>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark">
                                                <i
                                                    class="fa-solid fa-user-friends"
                                                ></i>
                                                <% if (classData.bans.length >
                                                0) { %>
                                                <span
                                                    class="badge badge-pill"
                                                    style="
                                                        background-color: var(
                                                            --brand-color
                                                        );
                                                    "
                                                    ><%= classData.bans.length
                                                    %></span
                                                >
                                                <% } %> Håndter udelukkede
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <% if (classData.bans.length
                                                    > 0) { %>
                                                    <table
                                                        class="table table-striped"
                                                    >
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Brugernavn
                                                                </th>
                                                                <th>ID</th>
                                                                <th>Email</th>
                                                                <th>
                                                                    <i
                                                                        class="fa-solid fa-cogs"
                                                                    ></i>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (let ban of
                                                            bans) { %>
                                                            <tr>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <img
                                                                        src="<%=
                                                                    ban.avatar %>"
                                                                        alt="<%=
                                                                    ban.username %>"
                                                                        class="img-fluid rounded-circle"
                                                                        style="
                                                                            width: 27px;
                                                                            height: 27px;
                                                                        "
                                                                    />
                                                                </td>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <a
                                                                        href="/profile/<%=
                                                                    ban.uid
                                                                    %>"
                                                                        target="_blank"
                                                                        style="
                                                                            text-decoration: none;
                                                                        "
                                                                        ><%=
                                                                        ban.uid
                                                                        %></a
                                                                    >
                                                                </td>
                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <% if
                                                                    (ban.email)
                                                                    { %> <%=
                                                                    ban.email %>
                                                                    <% } else {
                                                                    %> Ingen
                                                                    data <% } %>
                                                                </td>

                                                                <td
                                                                    class="text-muted"
                                                                >
                                                                    <form
                                                                        action="/classes/<%= classData.id %>/removeBan"
                                                                        method="POST"
                                                                    >
                                                                        <input
                                                                            type="hidden"
                                                                            name="uid"
                                                                            value="<%= ban.id %>"
                                                                        />

                                                                        <button
                                                                            class="btn btn-success btn-sm"
                                                                        >
                                                                            <i
                                                                                class="fa-solid fa-check"
                                                                            ></i>
                                                                            Ophæv
                                                                            udelukkelsen
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                    <% } else { %>
                                                    <p class="text-muted">
                                                        <i
                                                            class="fa-solid fa-triangle-exclamation"
                                                        ></i>
                                                        Der blev ikke fundet
                                                        nogen udelukkelser.
                                                    </p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>
        <script src="../../script.js"></script>
    </body>
</html>
