<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Kaoula</title>

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
        <!-- Fontawesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- Custom -->
        <link rel="stylesheet" href="../../style.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="../../kaoula.png"
                        alt="Kaoula Logo"
                        class="rounded-circle"
                        width="45"
                        height="45"
                    />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="d-flex" role="login">
                        <% if (user) { %>

                        <div class="dropdown">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                dropdown-toggle
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="<%= user.avatar %>"
                                    alt="<%= user.name %>"
                                    class="rounded-circle"
                                    width="25"
                                    height="25"
                                />

                                <%= user.username %>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fa-solid fa-user-circle"></i>
                                    Mine oplysninger
                                </a>
                                <a class="dropdown-item" href="/classData">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                    Min klasse
                                </a>

                                <% if (user.role == 5) { %>
                                <a class="dropdown-item" href="/classData/new">
                                    <i class="fa-solid fa-user-plus"></i>
                                    Lav en ny klasse
                                </a>
                                <% } %>
                            </div>
                        </div>

                        <a
                            class="btn btn-danger my-2 my-sm-0"
                            style="margin-left: 5px"
                            href="/auth/logout"
                        >
                            <i class="fa-solid fa-lock-open"></i> Log af
                        </a>

                        <% } else { %>
                        <a
                            class="btn btn-brand my-2 my-sm-0"
                            href="/auth/github"
                        >
                            <i class="fa-solid fa-lock"></i> Log på
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>

        <!-- message thread -->
        <div class="container text-center mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h1><%= thread.title %></h1>
                    <p class="text-muted fs-5"><%= thread.subject %></p>

                    Deltagere: <% threadUser.map((user) => { %>
                    <a href="/profile/<%= user.uid %>" class="text-muted"
                        ><%= user.name %></a
                    >
                    <% }) %>

                    <hr />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <% if (messages.length == 0) { %>
                <p class="text-muted mb-5">
                    <i class="fa-solid fa-comment-dots"></i> Ingen beskeder
                    endnu
                </p>
                <% } %> <% messages.map((message) => { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="text-muted"><%= message.content %></p>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img
                                    src="<%= message.user[2] %>"
                                    alt="<%= message.user[3]  %>"
                                    class="rounded-circle"
                                    width="25"
                                    height="25"
                                />
                                <a
                                    href="/profile/<%= message.user[3] %>"
                                    class="small mb-0 ms-2"
                                    >@<%= message.user[0] %></a
                                >
                                -
                            </div>

                            <div class="d-flex flex-row align-items-center">
                                <span class="small mb-0 text-muted">
                                    <%= message.createdAt.toLocaleDateString()
                                    %>
                                </span>

                                <% if (message.user[3] == user.uid) { %>
                                <form action="/messages/delete" method="post">
                                    <input
                                        type="hidden"
                                        name="mid"
                                        value="<%= message._id %>"
                                    />

                                    <button
                                        type="submit"
                                        style="border: none; background: none"
                                        class="text-danger"
                                    >
                                        <i class="fa-solid fa-trash-alt"></i>
                                    </button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>
                <form
                    class="mb-4 container"
                    action="/messages/new"
                    method="post"
                >
                    <hr size="10" />

                    <input type="hidden" name="tid" value="<%= thread._id %>" />
                    <div class="form-group mb-2">
                        <textarea
                            class="form-control"
                            name="content"
                            rows="3"
                            style="width: 100%; height: 15%; resize: none"
                            placeholder="Skriv en besked som <%= user.name %>..."
                        ></textarea>
                    </div>

                    <button
                        type="submit"
                        id="messageSubmit"
                        class="btn btn-mid btn-sm"
                    >
                        Send
                    </button>
                </form>
            </div>
        </div>

        <!-- Scripts -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
